% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>
            <thead>
            <tbody>
            {% for sorvete in sorvetes %}
                <tr>
                    <td scope ="row">{{ sorvete.id }}</td>
                    <td scope ="row">{{ usuario.nome }}</td>
                    <td scope ="row">{{ usuario.preco }}</td>
                    <td scope="row">
                        <a class="btn btn-warning" href="#" >Editar</a>
                        <a class="btn btn-danger" href="#">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>
        <div class="container">
            <div class="row"  align="center">
                <a class="btn btn-secondary" href="{% url 'produtos' %}" align="center">Ver Produto</a>
                <a class="btn btn-primary" href="{% url 'cadastrar_usuario' %}" align="center">Cadastrar Usuario</a>
            </div>
        </div>
    </div>
{% endblock%}